html body{
    background:#fcfcfc
}
html body .page-hero h3{ /*textbox for events*/
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    color:#e85a4f
}
html body .card{ /*corners of calendar*/
    border-radius:3px;
    overflow:hidden
}
html body .card-header{ /*calendar header*/
    background:#e85a4f;
    font-size:30px;
    color:#fff
}
html body .card-header .prevMonth{
    cursor:pointer
}
html body .card-header .nextMonth{
    cursor:pointer
}
html body .card-body{
    background:#ffffff
}
html body .card-body .days span{/*weekday color*/
    color:#e85a4f;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    justify-content: center;
    align-items: center;
    display:inline-block;
    height:30px;
    width:100%;
}

html body .card-body .dates span{/*current number dates */
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    justify-content: center;
    align-items: center;
    display:inline-block;
    height:30px;
    width:100%;
    cursor:pointer
}
html body .card-body .dates span.active,html body .card-body .dates span:hover{
    background-color: #e98074;
    border: 2px solid #c03c33;
}
html body .card-body .dates span.ntMonth{/*past and future dates*/
    color:#929292;
}
html body .card-body .dates span.ntMonth:hover{
    background-color: #e98074;
    border: 2px solid #c03c33;
}
html body .card#event .card-header .close{
    color:#fff;
    opacity:1
}
html body .card#event .card-body .events-today{
    height:210px;
    overflow-x:hidden
}
html body .card#event .card-body .events-input .data-invalid{
    border-color:rgb(68, 0, 255)
}
html body .card#event .card-body .events-input .error{
    font-size:12px;
    color:rgb(0, 26, 255);
    position:absolute;
    top:100%
}
@media(
    max-width: 767px)
    {
        html body .pa-sm{
            position:absolute
        }
html body .card-body .days span{
    height:38px;
    width:38px;
    line-height:38px;
    font-size:.8rem
}
html body .card-body .dates span{
    height:38px;
    width:38px;
    line-height:38px;
    font-size:.8rem
}
html body .card#event .card-body .events-today{
    height:188px
}
}
